@use "../utils" as *;

form {
  width: 100%;
  .form-group {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: rem(10);
    width: 100%;
    margin: rem(0) auto;
    max-width: rem(580);

    input {
      width: 100%;
      max-width: rem(400);
      height: rem(47);
      border-radius: rem(50);
      border: 1px solid $gray;
      padding: 0 rem(25);
      outline: none;

      &.error-message {
        border: 1px solid $light-red;
        margin: rem(0) auto;
        margin-bottom: rem(20);
      }
    }

    @include breakpoint-max(sm) {
      flex-direction: column;
      max-width: rem(300);
    }
  }

  .error {
    position: absolute;
    color: $light-red;
    bottom: rem(-18);
    left: rem(25);
    font-size: rem(11);
    font-style: italic;

    @include breakpoint-max(sm) {
      top: rem(50);
      left: rem(50);
    }
  }
}
