@use "../utils" as *;

.bottom {
  @include flex-centering();
  .icon-group {
    display: flex;
    gap: rem(15);
    margin-bottom: rem(25);

    .fa {
      position: relative;
      width: rem(25);
      height: rem(25);
      font-size: rem(13);
      border: 1px solid $pale-blue;
      border-radius: 50%;
      color: $blue;

      &:hover {
        border: 1px solid $blue;
        background: $blue;
        color: #fff;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .visually-hidden {
        border: 0;
        padding: 0;
        margin: 0;
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
        clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
        clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
        white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
      }
    }
  }

  .copyright {
    font-size: rem(13);
    margin-bottom: rem(100);
  }
}
